:root {
  --clr-body: #f1f5f8;
  --clr-main-heading: #063251;
  --clr-btn-background: #49a6e9;
  --clr-paragraph: #617d98;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-body);
  margin: 0px;
  padding: 1rem;
  box-sizing: border-box;
}

/*
==================
container
==================
*/

.main-heading {
  color: var(--clr-main-heading);
  text-transform: capitalize;
  letter-spacing: 1px;
  width: fit-content;
  margin-inline: auto;
}

/*
==================
input-section
==================
*/

.input-section {
  width: fit-content;
  margin-inline: auto;
}

.input-section label {
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: var(--clr-main-heading);
  margin-right: 0.3rem;
}

.input-section input {
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  width: 50px;
  margin-right: 0.5rem;
}

.input-section button {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--clr-main-heading);
  background-color: var(--clr-btn-background);
  padding: 0.45rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
